body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#nav .nav-item .nav-link:hover {
  color: #7209b7;
}

#nav .nav-item .nav-link.active {
  background-color: #7209b7;
  color: #fff;
}

.navbar-brand {
  border-bottom: 3px solid #7209b7;
}

.carousel-inner{
  max-width: 100vw;
}

.carousel-inner img{
  width: 100%;
}

.text-colored {
  color: #7209b7;
}

#sobre,
#flores,
#contato {
  background-color: #dec9e9;
}

.about-colored {
  font-family: "Pacifico", cursive;
}

#flores .btn-tab:hover {
  color: #7209b7;
}

.btn-store:hover,
.btn-form:hover {
  background-color: #7209b7;
  color: #fff;
}

#flores .btn-tab.active,
.btn-store,
.btn-form {
  background-color: #7209b7;
  color: #fff;
}

.social-links li {
  list-style: none;
  display: inline;
}

.social-links li a {
  text-decoration: none;
}

.contact-title,
.social-title {
  border-bottom: 1px solid #7209b7;
  width: 50%;
}

.social-title {
  margin: 0 auto;
}

.footer h4{
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

