body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#nav .nav-item .nav-link.active {
  background-color: #7209b7;
  color: #fff;
}

#nav .nav-item .nav-link:hover {
  color: #7209b7;
}

.navbar-brand {
  border-bottom: 3px solid #7209b7;
}

#carousel {
  background-color: #b185db;
}

.text-colored {
  color: #7209b7;
}

.carousel-inner {
  max-height: 60vh;
}

#sobre {
  background-color: #dec9e9;
}

.about-colored {
  font-family: "Pacifico", cursive;
}

#momentos {
  background-color: #b185db;
}

#flores {
  background-color: #dec9e9;
}

#presentes {
  background-color: #b185db;
}

#flores .btn-tab:hover {
  color: #7209b7;
}

.btn-store:hover {
  background-color: #7209b7;
  color: #fff;
}

#flores .btn-tab.active,
.btn-store {
  background-color: #7209b7;
  color: #fff;
}
