body {
  background-color: burlywood;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#nav .nav-item .nav-link.active {
  background-color: #7209b7;
  color: #fff;
}

#nav .nav-item .nav-link:hover {
  color: #7209b7;
}

.navbar-brand {
  border-bottom: 3px solid #7209b7;
}

#carousel {
  background-color: #b185db;
}

.text-colored {
  color: #7209b7;
}

.carousel-inner {
  max-height: 60vh;
}

#about {
  background-color: #dec9e9;
}

.about-colored {
  font-family: "Pacifico", cursive;
}

#event {
  background-color: #b185db;
}

#store{
  background-color: #dec9e9;
}

#presente{
  background-color: #b185db;
}